@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/*-------------mobile----------------*/

/* section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #24252a;
}

.container-criteria {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
} */

/* transition: all 0.3s ease 0s;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 7px;
    color: #e3e1e4;
    text-decoration: none;
    list-style: none;
    color: rgba(6, 233, 138, 0.8); */
