<body>
   <div class="wrapper" id="img">
      <div class="register-form text-center" id="register-position">
        <span>
            <div class="logo-website">
              <a href="#" class="logo">
                <img src="assets/logoBrand.png" alt="Website Logo" width="80%">
              </a>
            </div>
          </span>
        <form (ngSubmit) ="onClickSubmit()"  [formGroup]="registerForm">
            <h1>Create account</h1>

            <div class="form-floating">
                <input type="text"
                       class="form-control" 
                       id="email-input" 
                       placeholder=""
                       formControlName="emailForm"
                       [ngClass]="{'is-invalid' : registerForm.get('emailForm')?.dirty || 
                                                  registerForm.get('emailForm')?.touched && 
                                                  registerForm.get('emailForm')?.invalid}">
                <label for="email-input">Email</label>
            </div>

            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="firstname-input" 
                       placeholder=""
                       formControlName="firstNameForm">
                <label for="firstname-input">Prenom</label>
            </div>

            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="lastname-input" 
                       placeholder=""
                       formControlName="lastNameForm">
                <label for="lastname-input">Nom</label>
            </div>

            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="pseudo-input" 
                       placeholder=""
                       formControlName="pseudoForm">
                <label for="pseudo-input">Pseudo</label>
            </div>

            <div class="form-floating">
                <input type="password" 
                       class="form-control"
                       [ngClass]="{'is-invalid' : registerForm.get('password')?.dirty || registerForm.get('password')?.touched && registerForm.get('password')?.invalid}"
                       id="pwd-input"
                       placeholder=""
                       formControlName="passwordForm">
                <label for="pwd-input">Password</label>
            </div>

            <button class="btn btn-lg btn-primary"
                    type="submit"
                    [disabled]="registerForm.invalid">SIGN-UP</button>
        </form>
      </div>
   </div>
</body>
