<body>
  <div class="wrapper" id="img">
    <div class="login-form form-signin text-center" id="login-position">
      <span>
        <div class="logo-website">
          <a href="#" class="logo">
            <img src="assets/logoBrand.png" alt="Website Logo" width="80%">
          </a>
        </div>
      </span>

      <form (ngSubmit)="onClickSubmit(loginForm)" #loginForm="ngForm"> 
        <h1>Access account</h1>

        <div class="form-floating">
          <label id="floatingInput">Username</label>
          <input type="email" 
                  class="form-control" 
                  for="floatingInput" 
                  placeholder="" 
                  name="email" 
                  ngModel 
                  required>
        </div>

        <div class="form-floating">
          <label id="floatingPassword">Password</label>
          <input type="password" 
                  class="form-control" 
                  for="floatingPassword" 
                  placeholder="" 
                  name="password" 
                  ngModel 
                  required>
        </div>
    
        <button class="btn btn-lg btn-primary" 
                type="submit" 
                [disabled]="loginForm.invalid">LOGIN
        </button>
      </form>
    </div>
  </div>
</body>

  <!--
<div class="login-form text-center">
    <main>
        <form (ngSubmit) = "onClickSubmit()" [formGroup]="loginForm">
            <h1>Login to your account!</h1>

            <div class="form-floating">
                <input class="form-control"
                       type="text"
                       id="credentials-input"
                       formControlName="credentials"
                       [ngClass]="{'is-invalid' : loginForm.get('credentials')?.dirty ||
                                                  loginForm.get('credentials')?.touched &&
                                                  loginForm.get('credentials')?.invalid}">
                <label for="credentials-input">Email or Nickname</label>
            </div>

            <div class="form-floating">
                <input class="form-control"
                       type="password"
                       id="password-input"
                       formControlName="pwd"
                       [ngClass]="{'is-invalid' : loginForm.get('pwd')?.dirty ||
                                                  loginForm.get('pwd')?.touched &&
                                                  loginForm.get('pwd')?.invalid}">
                <label for="password-input">Password</label>     
            </div>
            <button class="w-100 btn btn-lg btn-primary"
                    type="submit"
                    [disabled]="loginForm.invalid">LOGIN</button>
        </form>
    </main>
</div> -->