<footer class="footer">
    <div class="social-area">
        <ul class="social-area-list">
            <li><a href="https://www.facebook.com/therealrusskhof/" target="_blank" title="Join us on Facebook" class="shr-btn-facebook"><fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon></a></li>
            <li><a href="https://www.youtube.com/I2usskhofTV/" target="_blank" title="Join us on Youtube" class="shr-btn-youtube"><fa-icon [icon]="faYoutube" class="fa-lg"></fa-icon></a></li>
            <li><a href="https://www.twitter.com/Russkhof" target="_blank" title="Join us on Twitter" class="shr-btn-twitter"><fa-icon [icon]="faTwitter" class="fa-lg"></fa-icon></a></li>
            <li><a href="https://www.twitch.tv/Russkhof" target="_blank" title="Join us on Twitch" class="shr-btn-twitch"><fa-icon [icon]="faTwitch" class="fa-lg"></fa-icon></a></li>
        </ul>
    </div>

    <div class="credits">
            <p>©2021<span class="footer-white"> Fps-Squad-Up</span><p>
        <!-- <div class="footer-logo">
            <a class="footer-brand" routerLink="/contact"><img src="assets/logo-web-white.png" alt="Fps-Squad-Up" width="100" hidden class="d-inline-block align-middle"></a>
        </div> -->
    </div>
</footer>