.carousel-inner{
    position: relative;
    height: 160px;

  }
  
.item, img{
    position: absolute;
    height: 100% !important;
    width:  100% !important;
    min-height: 160px;

  }

  @media screen and (min-width: 460px) {
    .carousel-inner{
        position: relative;
        height: 230px;
    
      }
      
    .item, img{
        position: absolute;
        height: 100% !important;
        width:  100% !important;
        min-height: 230px;
    
      }
}


  @media screen and (min-width: 680px) {
    .carousel-inner{
        position: relative;
        height: 300px;
    
      }
      
    .item, img{
        position: absolute;
        height: 100% !important;
        width:  100% !important;
        min-height: 300px;
    
      }
}


  @media screen and (min-width: 990px) {
    .carousel-inner{
        position: relative;
        height: 420px;
    
      }
      
    .item, img{
        position: absolute;
        height: 100% !important;
        width:  100% !important;
        min-height: 420px;
    
      }
}
