<!--<div class="wrapper">
 <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
   <a href="#" class="navbar-brand ">
     <img src="assets/logoBrand.png" alt="Website Logo" width="60%">
      </a>

        <button
           class="navbar-toggler"
           type="button"
           data-bs-toggle="collapse"
           data-bs-target="#toggleMobileMenu"
           aria-controls="toggleMobileMenu"
           aria-expanded="false"
           aria-lable="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="toggleMobileMenu">
          <ul class="navbar-nav ms-auto text-center">
            <li>
              <a class="nav-link" routerLink="/home" href="#">HOME</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/search" href="#">SEARCH</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/account/register" href="#">SIGN-UP</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/account/login" href="#">ACCOUNT</a>
            </li>
          </ul>
        </div>
   </nav>
</div>
</div>-->
<!-- <header>
  <div class="container">
  <div class="container-logo">
    <img class="logo" src="assets/logo-web-white.png" hidden alt="logo" width="80%">
  </div>
  <nav>
    <ul class="nav-links">
      <li><a class="nav-link" routerLink="/account/register"><small>REGISTER & PLAY TOGETHER!</small></a></li>
    </ul>
  </nav>
  <div class="btn-account">
    <a class="btn" routerLink="/account/login"><button type="button" class="btn">account</button></a>
  </div>
</div>
</header> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container text-center">

    <div class="container-logo">
      <a class="navbar-brand" routerLink="/home"><img src="assets/logo-web-white.png" width="100" hidden alt="logo" class="d-inline-block align-middle"></a>
    </div>

    <div class="container-signup">
      <a class="navbar-text" routerLink="/account/register"><small>REGISTER & PLAY TOGETHER!</small></a>
    </div>

    <div class="btn-account">
      <a class="btn" routerLink="/account/login"><button type="button" class="btn">account</button></a>
    </div>

  </div>
</nav>





<!-- FOR DEMO PURPOSE-->
<!-- <section class="py-5">
  <div class="container py-5">
    <ol class="pl-3">
      <li class="mb-3">Add your logo image inside<code>a.navbar-brand</code></li>
      <li class="mb-3">You can set the logo width and height by<code>width=""</code>,<code>height=""</code> attributes.</li>
      <li class="mb-3">Add one of <code>.align-top .align-middle .align-bottom</code> classes to vertically adapt adjacent text with the image.</li>
    </ol>
    
    <p class="text-muted mt-5">Snippet by <a href="https://bootstrapious.com/snippets" class="text-reset">
            <u>Bootstrapious</u></a>
        </p>
</p>
    
  </div>
</section> -->
