<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
   <a href="#" class="navbar-brand ">
     <img src="assets/logoBrand.png" alt="Website Logo" width="60%">
      </a>

        <button
           class="navbar-toggler"
           type="button"
           data-bs-toggle="collapse"
           data-bs-target="#toggleMobileMenu"
           aria-controls="toggleMobileMenu"
           aria-expanded="false"
           aria-lable="Toggle navigation"
        >
           <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="toggleMobileMenu">
          <ul class="navbar-nav ms-auto text-center">
            <li>
              <a class="nav-link" routerLink="/home" href="#">HOME</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/search" href="#">SEARCH</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/games" href="#">GAMES</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/account/login" href="#">ACCOUNT</a>
            </li>
          </ul>
        </div>
   </nav>
</div>