<!--<div class="wrapper">
 <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
   <a href="#" class="navbar-brand ">
     <img src="assets/logoBrand.png" alt="Website Logo" width="60%">
      </a>

        <button
           class="navbar-toggler"
           type="button"
           data-bs-toggle="collapse"
           data-bs-target="#toggleMobileMenu"
           aria-controls="toggleMobileMenu"
           aria-expanded="false"
           aria-lable="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="toggleMobileMenu">
          <ul class="navbar-nav ms-auto text-center">
            <li>
              <a class="nav-link" routerLink="/home" href="#">HOME</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/search" href="#">SEARCH</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/account/register" href="#">SIGN-UP</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/account/login" href="#">ACCOUNT</a>
            </li>
          </ul>
        </div>
   </nav>
</div>
</div>-->
<header>
  <div class="container">
  <div class="container-logo">
    <img class="logo" src="assets/logo-web-white.png" hidden alt="logo" width="80%">
  </div>
  <nav>
    <ul class="nav-links">
      <li><a class="nav-link" routerLink="/about">ABOUT</a></li>
      <li><a class="nav-link" routerLink="/home">HOME</a></li>
      <li><a class="nav-link" routerLink="/account/register">SIGNUP</a></li>
    </ul>
  </nav>
  <div class="btn-account">
    <a class="btn" routerLink="/account/login"><button>ACCOUNT</button></a>
  </div>
</div>
</header>

<!-- <header>
  <div class="container">
    <div class="logo">
      <img src="assets/logo-web.png" alt="logo">
    </div>
    <div class="navbar">
      <ul class="nav-links">
        <li><a class="nav-link" routerLink="/home">HOME</a></li>
        <li><a class="nav-link" routerLink="/account/register">SIGNUP</a></li>
        <li><a class="nav-link" routerLink="/games">GAMES</a></li>
      </ul>
    </div>
    <div class="btn-account">
      <a class="cta" routerLink="/account/login"><button>ACCOUNT</button></a>
    </div>
  </div>
</header> -->