  <!-- <div class="banner">
    <video id="myVideo" poster="assets/poster.jpg" autoplay muted loop controls>
      <source src="assets/bannervideo.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </div>-->

  <app-navbar></app-navbar>

 <!--contrl kc pour commenter control ku pour decommenter-->
  <!-- <section>

    <div class="text-intro"><h3><strong>Fps-Squad-up</strong> allows you to find new people! GAMERS! Gamers that like to shoot guns!
      Those gamers are down a player! They need urgently some back up! Are you in?
      
      Teammates from all around the world, found specifically for you with your search criteria!
      Squad-up with your future squadmates in your favorite First-Person-Shooters! 
      Have fun & kick some ass!</h3></div>
  </section>
  -->


<!--<div class="nav" id="pre-banner">
</div>
<div class="banner">
   <video id="myVideo" poster="assets/poster.jpg" autoplay muted loop controls>
        <source src="assets/banner-vid.mp4" type="video/mp4">
         Your browser does not support HTML5 video.
   </video>
</div>

 <div class="content">
   <h1>Heading</h1>
   <p>Lorem ipsum...</p>
  -->